#nav-bar {
  position: fixed;
  opacity: 1;
  top: 0;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  height: 80px;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  height: 100%;
  padding-left: 10px;
  font-size: xx-large;
  line-height: 2.5;
}
