#nav-bar {
  position: fixed;
  z-index: 1;
  opacity: 1;
  top: 0;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  height: 80px;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  height: 100%;
  padding-left: 10px;
  font-size: xx-large;
  line-height: 2.5;
}

#nav-bar .compose {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 60px;
  width:  90px;
  color: #017c6a;
  font-size: large;
  border: 1px solid black;
  background-color: #bbece3; 
  border-radius: 4px;
}

#nav-bar .compose:hover {
  color: black;
  background-color: white;
}
